/target/*
!/target/armv7-unknown-linux-gnueabihf


/target/armv7-unknown-linux-gnueabihf/*


!/target/armv7-unknown-linux-gnueabihf/debug

/target/armv7-unknown-linux-gnueabihf/debug/*
!/target/armv7-unknown-linux-gnueabihf/debug/rpr


!/target/armv7-unknown-linux-gnueabihf/release

/target/armv7-unknown-linux-gnueabihf/release/*
!/target/armv7-unknown-linux-gnueabihf/release/rpr

Cargo.lock

/.vscode/